body {
    background-color: var(--bs-success-bg-subtle);
}

#main {
    margin-left: 10vw;
    margin-right: 10vw;
}

#navBar {
    background-color: var(--bs-success);
    height: 6vh;
    padding: 0 1rem 0 0;
    margin: 0 6vw;
}

#barBtn, #beersBtn, #randomBtn {
    height: 100%;
    color: white;
    font-weight: 500;
}

#barBtn:hover, #beersBtn:hover, #randomBtn:hover {
    background-color: var(--bs-success-bg-subtle);
    color: var(--bs-success);
}

#searchBtn {
    background-color: white;
    color: var(--bs-success);
    font-weight: 500;
}

#searchBtn:hover {
    border-color: white;
    background-color: var(--bs-success-bg-subtle);
}

#searchBtn:active {
    transform: scale(0.95);
}

#blank-space {
    height: 10vh;
    margin: 0 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#writing-space {
    width: 100%;
    height: auto;
}

#home-page-image {
    height: 40vh;
}

#items-num-selection, #items-sort, #previous-button, #page-info, #next-button {
    visibility: hidden;
}

.cards {
    width: 40rem; 
    height: 50rem;
    border-color: var(--bs-success);
    color: var(--bs-success);
}

#detailsCard {
    text-align: start;
    margin: 0 20vw;
    border-color: var(--bs-success);
    color: var(--bs-success);
}

.detailsBtns, #go-back-button, #previous-button, #next-button {
    border-color: var(--bs-success);
    color: var(--bs-success);
    background-color: white;
    font-weight: 500;
}

.detailsBtns:hover, #go-back-button:hover, #previous-button:hover, #next-button:hover {
    border-color: var(--bs-success);
    color: white;
    background-color: var(--bs-success);
}

#detailsImage {
    text-align: center;
    padding-top: 5rem;
}

.img-height {
    height: 25rem;
}

#beer-name {
    font-size: 1.3rem;
    font-weight: 500;
}
